/* =================================================================== */
/* ESTILOS GLOBALES BASE (Reset)                      */
/* =================================================================== */

/*
  Una buena práctica que le dice al navegador cómo calcular
  el tamaño de las cajas. Hace que los diseños sean más predecibles.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  Preparamos los contenedores principales para que nuestra aplicación 
  pueda ocupar toda la pantalla si es necesario.
*/
html, body, #root {
  height: 100%; 
  margin: 0;
  padding: 0;
}

/* Dejamos que App.css se encargue de todos los estilos de "decoración"
  (colores, fuentes, etc.) para mantener el código organizado.
*/