/* src/LoginPage.css */

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
}

.login-card {
  background-color: var(--surface-color);
  padding: 2.5rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-logo {
  height: 60px; /* Ajusta el tamaño de tu logo */
  margin-bottom: 1.5rem;
}

.login-title {
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: var(--text-color-primary);
}

.login-form {
  display: grid;
  gap: 1.5rem;
}

.input-group {
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--text-color-secondary);
}

.input-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-error {
  color: var(--danger-color);
  font-size: 0.9rem;
}

.login-button {
  width: 100%;
  padding: 0.85rem;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--surface-color);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #0056b3; /* Un azul un poco más oscuro */
}

.login-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}